keyboard==0.13.5
mss==9.0.1
pytesseract==0.3.13
Pillow==10.4.0
deep-translator==1.11.4
translators==5.9.2
deepl==1.18.0
arabic-reshaper==3.0.0
python-bidi==0.4.2
customtkinter==6.0.0
pystray==0.19.5
pytest==8.3.2
